In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('agora.csv');df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [6]:
df.isna().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [7]:
df.Area.value_counts()

Dhaka      17
Ctg        17
Rangpur    16
Name: Area, dtype: int64

In [8]:
df.Transport.mean()

215331.73244897963

In [9]:
df.Transport.median()

214634.81

In [10]:
df.Transport = df.Transport.fillna(df.Transport.mean())

In [11]:
df.isna().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Encoding

In [31]:
df = pd.read_csv('insurance.csv');df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Encoding with replace function

In [32]:
df.smoker = df.smoker.replace(['yes','no'],[1,0]);df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [33]:
df.sex = df.sex.replace(['male','female'],[1,0]);df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [34]:
df.region = df.region.replace(['southwest','southeast','northwest','northeast'],[0,1,2,3]);df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

# label encoding

In [38]:
df = pd.read_csv('insurance.csv');df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [23]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()

In [25]:
df.smoker = le.fit_transform(df.smoker);df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [45]:
from pandas.core.dtypes.common import is_numeric_dtype
for column in df.columns:
    if is_numeric_dtype(df[column]):
        continue
    else:
        df[column] = le.fit_transform(df[column])

In [46]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# One hot encoding

In [52]:
df = pd.read_csv('insurance.csv');df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [72]:
smoker = pd.get_dummies(df['smoker'],drop_first=True)

In [ ]:
region = pd.get_dummies(df['region'],drop_first=True)

In [77]:
sex = pd.get_dummies(df['sex'],drop_first=True)

In [108]:
df = df.drop(['region','sex','smoker'],axis = 1)

In [106]:
df = pd.concat([df,region,sex,smoker], axis = 1)

In [43]:
df.head()

,age,sex,bmi,children,smoker,region,charges,0
0,19,female,27.900,0,yes,southwest,16884.92400,"(0, 3)\t1.0\n (0, 4)\t1.0\n (0, 7)\t1.0"
1,18,male,33.770,1,no,southeast,1725.55230,"(0, 2)\t1.0\n (0, 5)\t1.0\n (0, 6)\t1.0"
2,28,male,33.000,3,no,southeast,4449.46200,"(0, 2)\t1.0\n (0, 5)\t1.0\n (0, 6)\t1.0"
3,33,male,22.705,0,no,northwest,21984.47061,"(0, 1)\t1.0\n (0, 5)\t1.0\n (0, 6)\t1.0"
4,32,male,28.880,0,no,northwest,3866.85520,"(0, 1)\t1.0\n (0, 5)\t1.0\n (0, 6)\t1.0"

In [53]:
# with multiple one-hot-encoded columns
cols = ['region','sex','smoker']
for col in cols:
    col_ohe = pd.get_dummies(df[col], prefix=col)
    df = pd.concat((df, col_ohe), axis=1).drop(col, axis=1)

In [55]:
df.head()

,age,bmi,children,charges,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,0,0,0,1,1,0,0,1
1,18,33.770,1,1725.55230,0,0,1,0,0,1,1,0
2,28,33.000,3,4449.46200,0,0,1,0,0,1,1,0
3,33,22.705,0,21984.47061,0,1,0,0,0,1,1,0
4,32,28.880,0,3866.85520,0,1,0,0,0,1,1,0

# ordinal encoding

In [2]:
df = pd.read_csv('insurance.csv');df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [4]:
instances = ['no','yes']

In [5]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
Oren = OrdinalEncoder(categories=[instances])

In [11]:
df.smoker = Oren.fit_transform(df[['smoker']])

In [14]:
df.sex = OrdinalEncoder(categories=[['male','female']]).fit_transform(df[['sex']])

In [16]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [18]:
df.region = OrdinalEncoder(categories=[['southwest','southeast','northwest','northeast']]).fit_transform(df[['region']])

In [19]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19  1.0  27.900         0     1.0     0.0  16884.92400
1   18  0.0  33.770         1     0.0     1.0   1725.55230
2   28  0.0  33.000         3     0.0     1.0   4449.46200
3   33  0.0  22.705         0     0.0     2.0  21984.47061
4   32  0.0  28.880         0     0.0     2.0   3866.85520