In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/agora.csv');df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()

# MinmaxScaler / Normalization

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
mmx = MinMaxScaler()

In [6]:
from pandas.core.dtypes.common import is_numeric_dtype,is_object_dtype
for col in df1.columns[:3]:
    if is_numeric_dtype(df1[col]):
        df1[col] = mmx.fit_transform(df1[[col]])
    else:
        continue

In [7]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# StandardScaler

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
stdS = StandardScaler()

In [10]:
for col in df2.columns[:3]:
    if is_numeric_dtype(df2[col]):
        df2[col] = stdS.fit_transform(df2[[col]])
    else:
        continue

In [11]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

# Max Absolute Scaler

In [12]:
from sklearn.preprocessing import MaxAbsScaler

In [13]:
mas = MaxAbsScaler()

In [14]:
for col in df3.columns[:3]:
    if is_numeric_dtype(df3[col]):
        df3[col] = mas.fit_transform(df3[[col]])

In [15]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

# Robust Scaler

In [16]:
from sklearn.preprocessing import RobustScaler

In [17]:
for col in df.columns[:3]:
    if is_numeric_dtype(df[col]):
        df[col] = RobustScaler().fit_transform(df[[col]])

In [19]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94