In [123]:
import pandas as pd

In [124]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [125]:
df.shape

(50, 5)

# Feature Transformation

# Normalization / Min Max Scaler

In [126]:
from sklearn.preprocessing import MinMaxScaler

In [127]:
m = MinMaxScaler()

In [128]:
df_1 = df.copy();df_1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [129]:
marketing_spend_fit = m.fit(df_1[['Marketing Spend']]) #fit means training

In [130]:
marketing_spend_fit

MinMaxScaler()

In [131]:
df_1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [132]:
df_1['Marketing Spend'] = m.transform(df_1[['Marketing Spend']]) # transform means replace

In [133]:
df_1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [134]:
df_1['Administration'] = m.fit_transform(df_1[['Administration']]) #fit means training ;  transform means replace
df_1['Transport'] = m.fit_transform(df_1[['Transport']])

In [135]:
df_1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

Standardization

In [136]:
from sklearn.preprocessing import StandardScaler

In [137]:
#create object for StandardScaler
St = StandardScaler()
df_2 = df.copy();df_2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [138]:
#traning and replcae
df_2['Marketing Spend'] = St.fit_transform(df_2[['Marketing Spend']])
df_2['Administration'] = St.fit_transform(df_2[['Administration']])
df_2['Transport'] = St.fit_transform(df_2[['Transport']])
#all columns

In [139]:
df_2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

# Max Absulate Scaler

In [152]:
df_3 = df.copy();df_3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [156]:
# #find absulate value for perticular column and store in a varibale -> .abs()
#
max_abs_administration = df_3['Administration'].abs().max()
max_abs_transport = df_3['Transport'].abs().max()
max_abs_marketingSpend = df_3['Marketing Spend'].abs().max()
print('Max Administration:',max_abs_administration);print('Max Marketing Spend:',max_abs_marketingSpend);print('Max Transport:',max_abs_transport)
#
# #find max value for this varibale -> .max()

Max Administration: 182645.56
Max Marketing Spend: 165349.2
Max Transport: 471784.1

In [154]:
df_3['Administration'] = df_3['Administration'] / max_abs_administration
df_3['Transport'] = df_3['Transport'] / max_abs_transport
df_3['Marketing Spend'] = df_3['Marketing Spend'] / max_abs_marketingSpend

In [155]:
df_3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

# Robust

In [157]:
df_4 = df.copy()

In [158]:
from sklearn.preprocessing import RobustScaler

In [159]:
Rs = RobustScaler()

In [163]:
df_4['Marketing Spend'] = Rs.fit_transform(df_4[['Marketing Spend']])
df_4['Administration'] = Rs.fit_transform(df_4[['Administration']])
df_4['Transport'] = Rs.fit_transform(df_4[['Transport']])

In [164]:
df_4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94